{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div
    class="col-lg-8 mx-auto shadow rounded-4 p-5 text-center m-5 border border-3">

    <h1 class="display-1">{% trans "Password Reset" %}</h1>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="col-lg-4 mx-auto">
        <form method="POST"
            action="{% url 'account_reset_password' %}"
            class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="my-5 d-grid">
                <input class="btn btn-lg btn-outline-dark rounded-pill"
                    type="submit"
                    value="{% trans 'Reset My Password' %}" />
            </div>
        </form>
    </div>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your
        password.{% endblocktrans %}</p>
</div>
{% endblock %}