{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div
    class="col-lg-6 mx-auto shadow rounded-4 p-5 text-center m-5 border border-3">
    <h1 class="display-1">{% if token_fail %}{% trans "Bad Token" %}
        {% else %} {% trans "Change Password" %}{% endif %}</h1>
    <hr>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it
        has already been used. Please request a <a
            href="{{ passwd_reset_url }}">new password reset</a>.
        {% endblocktrans %}</p>
    {% else %}
    <div class="col-lg-4 mx-auto">
        <form method="POST"
            action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="my-5 d-grid">
            <input class="btn btn-lg btn-outline-dark rounded-pill" type="submit"
                name="action"
                value="{% trans 'change password' %}" />
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}