{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load subtract %}

{% load humanize %}

{% block head_title %}
{{object.owner}}
{% endblock head_title %}

{% block content %}
<div class="p-lg-5">
    <div class="col-lg-6 mx-auto shadow p-5 rounded-4">
        <h1>{{object.owner.name|capfirst}}</h1>
        <h3>Phone | Address, Address1</h3>
        <hr>
        <div>
            <div>
                <span class="text-muted">Date debited:</span>
                <span class="">{{object.date_debited}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Owner: </span>
                <span class="">{{object.owner}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Reason returned:</span>
                <span class="">{{object.returned}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Amount: </span>
                <span class="">${{object.chq_amount}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Journal: </span>
                <span class="">{{object.journal}}</span>
                <a class="small ms-1 text-muted"
                    href="{% url 'cheque-update-journal' object.pk %}">Journal</a>
            </div>
            <br>
            <div>
                <span class="text-muted">Cheque date:</span>
                <span class="">{{object.cheque_date}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Cheque number: </span>
                <span class="">{{object.cheque_no}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Status:</span>
                <span class="">{{object.get_cheque_status_display}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Ministry: </span>
                <span class="">${{object.ministry}}</span>
            </div>
            <br>
            <div>
                <span class="text-muted">Receipt number: </span>
                <span class="">${{object.receipt_no}}</span>
            </div>
            <br>
        </div>
        {% if request.user.is_supervisor %}
        <div class="my-3 text-end">
            <a class="btn btn-lg btn-warning"
                href="{% url 'cheque-delete' object.pk %}">Delete</a>
        </div>
        {% endif %}
        <hr>
        <div class="small text-muted text-end">
            <p>Updated at {{object.updated_at}}</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $("#id_owner").select2();
    $("#id_ministry").select2();

</script>
{% endblock scripts %}