{% extends 'base.html' %}

{% load humanize %}
{% load crispy_forms_tags %}
{% load subtract %}

{% block head_title %}
Cheques
{% endblock head_title %}


{% block content %}

<div class="p-5">

    <div class="row">
        <div class="col">
            <div
                class="h3 border border-3 border-primary rounded-4 p-5 text-primary text-center shadow">
                <span title="total">All Cheques</span>
                <hr>
                <span>${{total_amount|intcomma}}</span>
            </div>
        </div>
        <div class="col">
            <div
                class="h3 border border-3 border-success rounded-4 p-5 text-success text-center shadow">
                <span title="paid">
                    Paid
                </span>
                <hr>
                <span>${{paid_cheque_total_amount|intcomma}}</span>
            </div>
        </div>
        <div class="col">
            <div
                class="h3 border border-3 border-warning rounded-4 p-5 text-warning text-center shadow">
                <span title="unpaid">Unpaid/Returned</span>
                <hr>
                <span>
                    ${{paid_cheque_total_amount|subtract:total_amount|intcomma}}</span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center p-5">
        <div class="mx-5 pt-2">
            <a title="add cheque"
                class="text-decoration-none text-dark"
                href="{% url 'cheque-create' %}">
                <span class="material-symbols-outlined fs-1">
                    add_circle
                </span>
            </a>
        </div>
        <div class="col-lg-6">
            <form action=""
                method="get">
                <input type="search"
                    class="form-control form-control-lg border border-3 rounded-pill"
                    autofocus="autofocus"
                    placeholder="Search"
                    name="cheques"
                    id="cheque_id_id">
            </form>
        </div>
        <div class="mx-3 pt-2">
            <a class="small text-muted"
                href="/">reset</a>
        </div>

    </div>

    <div class="table-responsive">
        <table class="mt-3 table table-sm table-hover table-bordered">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Date Debited</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Cheque Amount</th>
                    <th scope="col">Journal</th>
                    <th scope="col">Cheque Date</th>
                    <th scope="col">Cheque No.</th>
                    <th scope="col">Status</th>
                    <th scope="col">Receipt No.</th>
                    <th scope="col">Ministry</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr {% if ob.cheque_status == 'P' %}
                    class="table-success"
                    {% elif ob.cheque_status == 'U' %}
                    class="table-danger"
                    {% else %}
                    class="table-warning"
                    {% endif %}>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ob.date_debited}}</td>
                    <td><a class="text-dark"
                            href="{% url 'owner-detail' ob.owner.pk %}">{{ob.owner}}</a>
                    </td>
                    <td>{{ob.returned|upper}}</td>
                    <td>${{ob.chq_amount|intcomma}}</td>
                    <td><a class="text-decoration-none small"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ob.pk}}"
                            href="{% url 'cheque-update-journal' ob.pk %}">
                            {{ob.journal|default:"add journal"}}</a></td>
                    <td>{{ob.cheque_date}}</td>
                    <td><a class="text-dark"
                            href="{{ ob.get_absolute_url }}">{{ob.cheque_no|upper}}</a>
                    </td>
                    {% if ob.cheque_status == 'P' %}
                    <td><a title="paid"
                            class="btn btn-sm btn-outline-dark"
                            href="{% url 'cheque-returned' ob.pk %}">{{ob.cheque_status}}</a>
                    </td>
                    {% elif ob.cheque_status == 'R' %}
                    <td><a title="returned"
                            class="btn btn-sm btn-outline-dark"
                            href="{% url 'cheque-paid' ob.pk %}">{{ob.cheque_status}}</a>
                    </td>

                    {% elif ob.cheque_status == 'U' %}
                    <td><a title="unpaid"
                            class="btn btn-sm btn-outline-dark"
                            href="{% url 'cheque-returned' ob.pk %}">{{ob.cheque_status}}</a>
                    </td>

                    {% endif %}
                    <td>{{ob.receipt_no}}</td>
                    <td><a class="text-dark"
                            href="">{{ob.ministry|upper}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for ob in object_list %}
<!-- Modal -->
<div class="modal fade"
    id="exampleModal{{ob.pk}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">{{ob.owner|title}}</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><span class="text-muted small">Journal:
                    </span>{{ob.journal|default:'add journal'}}</p>
                <form action="{% url 'cheque-update-journal' ob.pk %}"
                    method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid">
                        <button class="btn btn-lg btn-outline-dark"
                            type="submit">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock content %}