{% extends 'base.html' %}

{% load humanize %}
{% load crispy_forms_tags %}
{% load subtract %}

{% block head_title %}
Dishonored Cheque - {{request.user}}
{% endblock head_title %}


{% block content %}
<div class="container p-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Dishonored Cheques</h1>
        <a class="btn btn-lg btn-dark rounded-pill px-5"
            href="{% url 'cheque-create' %}">Add a cheque</a>
    </div>
    <div class="border rounded-4 px-5 py-3 my-3">
        <div class="row text-center">
            <p class="text-center text-muted fs-5">{{current_year}}</p>
            <hr>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">All</span><br>
                <span class="fs-4">XCD${{all_paid_cheques|intcomma}}</span>
            </div>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">Paid</span><br>
                <span
                    class="fs-4">XCD${{all_paid_cheques_total|intcomma}}</span>
            </div>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">Unpaid</span><br>
                <span
                    class="fs-4">XCD${{all_paid_cheques_total|subtract:all_paid_cheques|intcomma}}</span>
            </div>
        </div>
    </div><br><br>
    <hr><br><br>
    <div class="row">
        <div class="col-lg-6 mx-auto my-lg-5">
            <canvas id="chart"
                width="50"
                height="50"></canvas>
        </div>
        <div class="col">
            <div class="p-3"><br><br>
                <hr>
                <h2 class="text-center">Export to csv</h2><br>
                <form class="d-flex justify-content-center"
                    action="{% url 'export-to-csv' %}"
                    method="get">
                    <div class="col-lg-3">
                        <select class="form-control"
                            id="month"
                            name="month">
                            {% for month_num, month_name in month_choices %}
                            <option value="{{ month_num }}">{{ month_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select class="form-control mx-2"
                            id="year"
                            name="year">
                            {% for year in year_choices %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-success mx-3"
                            type="submit"><span
                                class="material-symbols-outlined">
                                download
                            </span></button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script>
    let ctx = document.getElementById("chart").getContext("2d");
    let q1 = '{{total_amount_q1}}';
    let q2 = '{{total_amount_q2}}';
    let q3 = '{{total_amount_q3}}';
    let q4 = '{{total_amount_q4}}';
    let q1Paid = '{{paid_cheque_total_amount_q1}}';
    let q2Paid = '{{paid_cheque_total_amount_q2}}';
    let q3Paid = '{{paid_cheque_total_amount_q3}}';
    let q4Paid = '{{paid_cheque_total_amount_q4}}';
    let q1Unpaid = '{{unpaid_cheque_total_amount_q1}}';
    let q2Unpaid = '{{unpaid_cheque_total_amount_q2}}';
    let q3Unpaid = '{{unpaid_cheque_total_amount_q3}}';
    let q4Unpaid = '{{unpaid_cheque_total_amount_q4}}';
    currentYear = new Date().getFullYear();
    let chart = new Chart(ctx, {
        data: {
            labels: ["2022/Q1", "2022/Q2", "2022/Q3", "2022/Q4"],
            datasets: [
                {
                    type: "bar",
                    label: "Cheques",
                    backgroundColor: "grey",
                    data: [q1, q2, q3, q4]
                },

                {
                    type: "bar",

                    label: "Paid",
                    backgroundColor: "green",
                    borderColor: "#417690",
                    data: [q1Paid, q2Paid, q3Paid, q4Paid]
                },
                {
                    type: "bar",

                    label: "Upaid",
                    backgroundColor: "orange",
                    borderColor: "#417690",
                    data: [q1Unpaid, q2Unpaid, q3Unpaid, q4Unpaid]
                },
            ]
        },
        options: {
            title: {
                text: "Gross Volume in 2020",
                display: true
            }
        }
    });

    $("#id_owner").select2();
    $("#id_ministry").select2();

</script>
{% endblock scripts %}