{% extends 'base.html' %}

{% load humanize %}
{% load crispy_forms_tags %}
{% load subtract %}

{% block head_title %}
Dishonored Cheque - {{request.user}}
{% endblock head_title %}


{% block content %}
<div class="container p-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Dishonored Cheques</h1>
        <a class="btn btn-lg btn-dark rounded-pill px-5"
            href="{% url 'cheque-create' %}">Add a cheque</a>
    </div>
    <div class="border rounded-4 px-5 py-3 my-3">
        <div class="row text-center">
            <p class="text-center text-muted fs-5">{{current_year}}</p>
            <hr>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">All</span><br>
                <span class="fs-4">XCD${{total_sum_of_cheques|intcomma}}</span>
            </div>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">Paid</span><br>
                <span
                    class="fs-4">XCD${{total_sum_of_paid_cheques|intcomma}}</span>
            </div>
            <div class="col">
                <span class="text-muted fw-bolder fs-5">Unpaid</span><br>
                <span
                    class="fs-4">XCD${{total_sum_of_unpaid_cheques|intcomma}}</span>
            </div>
        </div>
    </div><br><br>
    <hr><br><br>
    <div class="row">
        {% include 'cheques/chart2022.html' %}
        <div class="col">
            <div class="p-3"><br><br>
                <hr>
                <h2 class="text-center">Export to csv</h2><br>
                <form class="d-flex justify-content-center"
                    action="{% url 'export-to-csv' %}"
                    method="get">
                    <div class="col-lg-3">
                        <select class="form-control"
                            id="month"
                            name="month">
                            {% for month_num, month_name in month_choices %}
                            <option value="{{ month_num }}">{{ month_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select class="form-control mx-2"
                            id="year"
                            name="year">
                            {% for year in year_choices %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-success mx-3"
                            type="submit"><span
                                class="material-symbols-outlined">
                                download
                            </span></button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $("#id_owner").select2();
    $("#id_ministry").select2();
</script>
{% endblock scripts %}