{% if request.user.is_authenticated %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'cheque-list' %}"
            class="nav-link px-2 link-body-emphasis">Cheques</a></li>
        <li><a href="{% url 'owner-list' %}"
            class="nav-link px-2 link-body-emphasis">Owners</a></li>
        <li><a href="{% url 'ministry-list' %}"
            class="nav-link px-2 link-body-emphasis">Ministries</a></li>
        {% if request.user.is_supervisor %}
        <li><a href="{% url 'profile-list' %}"
            class="nav-link px-2 link-body-emphasis">Users</a></li>
        {% endif %}
        <!-- <li><a href="#"
            class="nav-link px-2 link-body-emphasis">Ministry</a></li> -->
      </ul>
      <div class="dropdown text-end">
        <a href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false">

          <img src="{{ request.user.profile.image.url }}"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          {% if request.user.is_authenticated %}
          <li><a class="dropdown-item"
              href="{% url 'profile-detail' request.user.profile.uid %}">Profile</a>
          </li>
          <li><a class="dropdown-item"
              href="{% url 'account_logout' %}">Sign out</a></li>
          {% else %}
          <li><a class="dropdown-item"
              href="{% url 'account_login' %}">Sign in</a></li>

          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</header>
{% endif %}
